@model ScoringSystem.Models.VariableQuestionModel

<div class="variable-question" id="@Model.Id">
    <div>
        @foreach (var answer in Model.Answers)
        {
            <label>@answer.Text</label>
            <input text="@answer.Coefficient" value="@answer.Coefficient" id="@answer.Id"/>
        }
    </div>
</div>